<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<h1>Ajout d'un jeu video</h1>

<!-- todo - test pipe -->
{{ videoGame | json}}
<form #videoGameForm="ngForm" (ngSubmit)="save()">
    <label>Titre</label>
    <input name="label" required type="text" [(ngModel)]="videoGame.label"/>

    <label>Annee de sortie</label>
    <input name="year" required type="number" [(ngModel)]="videoGame.year"/>

    <button [disabled]="!videoGameForm.form.valid" type="submit">Ajouter</button>
</form>

<!-- <form>
    <label>Titre</label>
    <input name="label" required type="text" [(ngModel)]="videoGame.label"/>

    <label>Annee de sortie</label>
    <input name="year" required type="number" [(ngModel)]="videoGame.year"/>

    <button (click)="save()">Ajouter</button>
</form> -->