<h3>{{title()}}</h3>
<table  class="table table-striped">
    <tbody>
        @for (item of items(); track item.label) {
        <tr>
            <td>{{ item.label }}</td>
            <td>{{ item.year }}</td>
            <td>
                <button (click)="clickToRemove($index)">Supprimer ({{$index}})</button>
            </td>
            <td>
                <button (click)="clickToRemoveItem(item)">Supprimer ({{item.label}})</button>
            </td>
        </tr>        
    }
    </tbody>
</table>


